<form class="container" action="" (ngSubmit)="onSubmit()">
    <h2>Registrar un nuevo item</h2>
    <div>
        <label for="text"> Nombre del item </label>
        <input type="text" name="title" placeholder="Escriba aqui" [(ngModel)]="title">
    </div>
    <br>
    <div>
        <label for="text"> Precio </label>
        <input type="text" name="price" [(ngModel)]="price">
    </div>
    <br>
    <div>
        <label for="number"> Cantidad </label>
        <input type="text" name="quantity" [(ngModel)]="quantity">
    </div>
    <br>
    <input type="submit" value="Crear">

</form>
